mixin makeBubble(bub)
	p(class='bubble bubble-text bubble' + (bub.stemPos ? bub.stemPos : 50),style=(bub.z ? 'z-index: ' + bub.z + ';' : '') + (bub.width ? 'width: ' + bub.width + '%;' : '') + 'top: ' + bub.top + '%; left: ' + bub.left + '%;')
		!= bub.text

mixin makeText(txt)
	p(class='free-text',style=(txt.z ? 'z-index: ' + txt.z + ';' : '') + (txt.width ? 'width: ' + txt.width + '%;' : '') + 'top: ' + txt.top + '%; left: ' + txt.left + '%;')
		!= txt.words

mixin makeImage(img)
	if img.frames
		- for (var f in img.frames)
			img(animated=img.move ? 'true' : undefined,speed=img.speed ? img.speed : undefined,travel=img.travel ? img.travel : undefined,direction=img.direction ? img.direction : undefined,style='top: ' + img.top + '%; left: ' + img.left + '%;'+(img.width ? ' width: ' + img.width + '%;' : '')+(img.z ? ' z-index: ' + img.z + ';' : '')+(img.r ? ' transform: rotate(' + img.r + 'deg); -webkit-transform: rotate(' + img.r + 'deg); -ms-transform: rotate(' + img.r + 'deg);' : ''),src='/images/'+f.src,alt=f.altText ? f.altText : 'object')
	else
		img(animated=img.move ? 'true' : undefined,speed=img.speed ? img.speed : undefined,travel=img.travel ? img.travel : undefined,direction=img.direction ? img.direction : undefined,style='top: ' + img.top + '%; left: ' + img.left + '%;'+(img.width ? ' width: ' + img.width + '%;' : '')+(img.z ? ' z-index: ' + img.z + ';' : '')+(img.r ? ' transform: rotate(' + img.r + 'deg); -webkit-transform: rotate(' + img.r + 'deg); -ms-transform: rotate(' + img.r + 'deg);' : ''),src='/images/'+img.src,alt=img.altText ? img.altText : 'object')

div#sizer(comicId=id)
	if title
		p.cTitle= title
	- for (var c in cells)
		div.box(style=(cells[c].background ? 'background-color: ' + cells[c].background : undefined),id='cell-' + c)
			if cells[c].bubble
				+makeBubble(cells[c].bubble)
			if cells[c].bubbles
				- for (var b in cells[c].bubbles)
					+makeBubble(cells[c].bubbles[b])
			- for (var i in cells[c].text)
				+makeText(cells[c].text[i])
			- for (var i in cells[c].imgs)
				+makeImage(cells[c].imgs[i])
	div#info(comicId=id,class='info')
		if extraText && !basic
			div#extraText
				!= extraText
		div#hiddenLinks
			if prevDate
				a(href='/' + prevDate) Previous
			if nextDate
				a(href='/' + nextDate) Next
		div
			if prevDate
				p.lnav!= '<a onclick="replaceComic(\'0\');"><i class="fa fa-fast-backward"></i></a>&nbsp;'
				p.lnav!= '<a onclick="replaceComic(\'' + prevDate + '\');"><i class="fa fa-backward"></i> Previous</a>'
			if nextDate
				p.rnav!= '&nbsp;<a onclick="replaceComic(\'-1\');"><i class="fa fa-fast-forward"></i></a>'
				p.rnav!= '<a onclick="replaceComic(\'' + nextDate + '\');">Next <i class="fa fa-forward"></i></a>'
			div(style='clear: both;')
		if (pubDate)
			hr
			div#social-buttons
				div#tweet(class='share')
					iframe(allowtransparency='true',frameborder='0',scrolling='no',src='https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2F' + url + '%2F' + id + '&via=frogcomics',style='width:130px; height:20px;') 
				div#fb(class='share')
					iframe(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F" + url + "%2F" + id + "&width&layout=button_count&action=like&show_faces=false&share=true&height=21&appId=121560161486" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true")
				div#pin(class='share')
					a(href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2F" + url + "%2F" + id + "&media=http%3A%2F%2F" + url + "%2Fpins%2F" + id + "&description=" + title,data-pin-do="buttonPin",data-pin-config="beside")
						img(src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png")
			div#pubdatediv
				p.pubdate= 'Published ' + pubDate
			div(style='clear: both;')

if scripts
	- for (var s in scripts)
		script(src='/js/' + scripts[s])
	