div.sizer
	- for (var c in cells)
		div.box(style=cells[c].background ? 'background-color: ' + cells[c].background : undefined)
			p.bubble(style=(cells[c].bubble.width ? 'width: ' + cells[c].bubble.width + '%;' : '') + 'top: ' + cells[c].bubble.top + '%; left: ' + cells[c].bubble.left + '%;')
				= cells[c].bubble.text
			- for (var i in cells[c].imgs)
				img(animated=cells[c].imgs[i].move ? 'true' : undefined,speed=cells[c].imgs[i].speed ? cells[c].imgs[i].speed : undefined,travel=cells[c].imgs[i].travel ? cells[c].imgs[i].travel : undefined,direction=cells[c].imgs[i].direction ? cells[c].imgs[i].direction : undefined,style='top: ' + cells[c].imgs[i].top + '%; left: ' + cells[c].imgs[i].left + '%;'+(cells[c].imgs[i].width ? ' width: ' + cells[c].imgs[i].width + '%;' : ''),src='/images/'+cells[c].imgs[i].src,alt='frog')
	div.info
		p.pubdate= 'Published ' + pubDate
		if prevDate
			p.lnav!= '<a href="#" onclick="replaceComic(\'/chtml/' + prevDate + '\');"><i class="fa fa-arrow-circle-left"></i> Previous</a>'
		if nextDate
			p.rnav!= '<a href="#" onclick="replaceComic(\'/chtml/' + nextDate + '\');">Next <i class="fa fa-arrow-circle-right"></i></a>'
