doctype html
html
	include head
	link(href='/css/jquery.contextMenu.css',rel='stylesheet')
	link(href='/css/jquery-ui-1.10.4.min.css',rel='stylesheet')
	link(href='/css/bootstrap-editable.css',rel='stylesheet')
	link(href='/css/bootstrap-datetimepicker.min.css',rel='stylesheet')
	body
		include header
		div#controls
			div(data-spy='affix',data-offset-top='50',data-offset-bottom='200')
				div.btn-group-vertical
					button#clearButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-asterisk"></i>'
					button#addCellButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-plus"></i>'
					button#saveButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-save"></i>'
					button#saveAsNewButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-ellipsis-h"></i>'
					button#loadButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-folder-open-o"></i>'
					button#addImageButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-picture-o"></i>'
		div#comicArea(style='min-height: 500px;')
			div#sizer
				input#hiddenId(type='hidden')
				div.form-group(style='margin-top: 15px;')
					label(for="ctitle") Comic Title (optional)
					input#ctitle.form-control(type="text",placeholder="comic title")
				div.form-group
					label(for="datePicker") Publish Date
					div#datePicker(class="input-group date",data-date-format="YYYY-MM-DD")
						input#pubDate(type="text",class="form-control",placeholder="publish date")
						span(class="input-group-addon")!= '<i class="fa fa-calendar"></i>'
				div.form-group
					label(for="extraText") Extra Text (optional)
					textarea#extraText.form-control(rows="3",placeholder="extra text and stuff")
				div#cellArea

		include imgUpload
		include comicLoad
		include saveConfirm
		include animateSettings
		
		include editor
		include footer
