doctype html
html
	include head
	link(href='/css/jquery.contextMenu.css',rel='stylesheet')
	link(href='/css/jquery-ui-1.10.4.min.css',rel='stylesheet')
	link(href='/css/bootstrap-editable.css',rel='stylesheet')
	link(href='/css/bootstrap-datetimepicker.min.css',rel='stylesheet')
	body
		include header
		div#controls
			div(data-spy='affix',data-offset-top='50',data-offset-bottom='200')
				div.btn-group-vertical
					button#clearButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-asterisk"></i>'
					button#addCellButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-plus"></i>'
					button#saveButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-save"></i>'
					button#saveAsNewButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-ellipsis-h"></i>'
					button#loadButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-folder-open-o"></i>'
					button#importButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-upload"></i>'
					button#addImageButton(type='button',class='btn btn-default btn-lg')!= '<i class="fa fa-picture-o"></i>'
		div#comicArea(style='min-height: 500px;')
			div#sizer
				div(class='form-group clearfix',style='margin-top: 15px;')
					label(for="ctitle") Comic Title (optional)
					input#ctitle.form-control(style="width: 80%; float: left;",type="text",placeholder="comic title")
					input#cid.form-control(disabled="true",style="text-align: right; width: 15%; float: right;",type="text",placeholder="id")
				div
					div.form-group(style="width: 50%; float: left;")
						label(for="datePicker") Publish Date
						div#datePicker.input-group(data-date-format="YYYY-MM-DD")
							input#pubDate.form-control(type="text",placeholder="publish date")
							span(class="input-group-addon")!= '<i class="fa fa-calendar"></i>'
					div.form-group(style="width: 45%; float: right;")
						label(for="extraJs") Custom JavaScript (optional)
						input#extraJs.form-control(type="text",placeholder="whatnot.js")
				div(class='form-group clearfix')
					label(for="extraText") Extra Text (optional)
					textarea#extraText.form-control(rows="3",placeholder="extra text and stuff")
				div(class='form-group clearfix')
					label(for="tags") Tags (optional)
					input#tags.form-control(type="text",placeholder="list, of, tags")
				div#cellArea

		include imgUpload
		include comicLoad
		include saveConfirm
		include animateSettings
		include dataImport
		
		include editor
		include footer
